<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('partials/header') %>
    <div class="contacts__wrapper container_without_border">
        <div class="socials">
            <div class="social">
                <a href="https://vk.com/glukhov_gt" target="_blank" class="social_card_wrapper">
                    <img class="social_card_quotation" src="/images/quotation_mark.svg" alt="Кавычки">
                    <div class="social_card_bottom">
                        <img class="social_card_arrow" src="/images/forward.png" alt="Стрелка">
                        <span>Vkontate</span>
                    </div>
                </a>
            </div>
            <div class="social">
                <a href="https://t.me/maxim_glukhov_abk" target="_blank" class="social_card_wrapper">
                    <img class="social_card_quotation" src="/images/quotation_mark.svg" alt="Кавычки">
                    <div class="social_card_bottom">
                        <img class="social_card_arrow" src="/images/forward.png" alt="Стрелка">
                        <span>Telegram</span>
                    </div>
                </a>
            </div>
            <div class="social">
                <a href="https://wa.me/79503065151" target="_blank" class="social_card_wrapper">
                    <img class="social_card_quotation" src="/images/quotation_mark.svg" alt="Кавычки">
                    <div class="social_card_bottom">
                        <img class="social_card_arrow" src="/images/forward.png" alt="Стрелка">
                        <span>WhatsApp</span>
                    </div>
                </a>
            </div>
            <div class="social">
                <a href="mailto:glukhov_maxim@mail.ru" class="social_card_wrapper">
                    <img class="social_card_quotation" src="/images/quotation_mark.svg" alt="Кавычки">
                    <div class="social_card_bottom">
                        <img class="social_card_arrow" src="/images/forward.png" alt="Стрелка">
                        <span>Mail</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="contact_form">
            <span class="contacts_header">
                Если вам нужна помощь, свяжитесь со мной любым удобным способом.
            </span>
            <span class="contacts_email">
                Email
            </span>
            <a href="mailto:glukhov_maxim@mail.ru" class="contacts_link">
                <img src="/images/forward.png" alt="Стрелка">
                <span class="contacts_link_email">glukhov_maxim@mail.ru</span>
            </a>
            <div class="contact_form_wrapper">
                <p>
                    Введите свои данные
                </p>
                <form class="contact_inputs_wrapper" action="#">
                    <input type="text" class="contact_form_input" placeholder="Имя">
                    <input type="text" class="contact_form_input" placeholder="Почта">
                    <input type="text" class="contact_form_input" placeholder="URL сайта">
                    <input type="text" class="contact_form_input" placeholder="Ваш бюджет">
                    <input type="text" class="contact_form_input" placeholder="Детали проекта">
                    <button class="contact_form_button">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>

</html>